<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Azure Blob Storage</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Welcome to Azure Blob Storage</h1>
            <p class="lead">You can upload and download files using Azure Blob Storage.</p>
            <hr class="my-4">
            <div class="row">
                <div class="col-md-6">
                    <a href="{% url 'upload_file' %}" class="btn btn-primary btn-lg btn-block">Upload a File</a>
                </div>
                <div class="col-md-6">
                    <a href="{% url 'image_list' %}" class="btn btn-secondary btn-lg btn-block">Download a File</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
